:root {
  --background: #0d0714;
  --color: #9e78cf;
}
html,
body {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #15101c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 10px;
}
